@import url('../root/style.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left a img {
	width: 200px;
	height: 100px;
}

.center nav {
	display: flex;
	gap: 20px;
}

.center nav a {
	text-decoration: none;
	font-weight: 500;
}

.center nav a p {
	color: var(--text-color);
}

.center nav a:nth-child(1) p {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.center nav a:hover {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.right {
	margin-right: 8px;
}

.right nav,
.right nav .icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.right nav a img {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	background-color: var(--card-background-color);
	border-radius: 10px;
	padding: 5px;
	width: 40px;
	height: 40px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 25px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2.5px;
	background-color: black;
	border-radius: 50%;
	transition: 0.3s;
}

body {
	background-color: var(--background-color);
}

.titulo-tipos {
	color: var(--text-color);
}

.grupo-tipo {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.card {
	width: 150px;
	padding: 10px;
	text-align: center;
	border: 1px solid var(--card-border-color);
	border-radius: 10px;
	background: var(--background-card-dragao);
	transition: box-shadow 0.4s ease, transform 0.4s;
	transform-style: preserve-3d;
	cursor: pointer;

	&:hover {
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
		transform: translateY(-10px) rotateX(6deg) rotateY(-8deg) scale(1.02);
		background: var(--background-card-hover);
	}

	h4 {
		text-align: left;
	}
}

.card h4,
.card h3 {
	cursor: default;
	color: var(--text-color);
	text-align: center;
}

.card img {
    width: 120px;
	transform: translateZ(20px) scale(1.1);	
    pointer-events: none;
}

.api {
	border: 2px solid var(--card-border-color);
	border-radius: 13px;
	margin: 10px;
}

#d-container h4,
#d-container h3, 
#d-container p {
	cursor: default;
	color: var(--text-color);
}

#d-container h4,
#d-container p {
	font-size: large;
}

#d-container h3 {
	font-size: xx-large;
}

#d-container img {
	width: 100%;
	max-width: 400px;
	height: auto;
	object-fit: contain;
}

#d-container button {
	border: none;
	padding: 6px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-color: #333;
	color:  white;
}

#d-container button:hover {
	cursor: pointer;
	background-color: #444;
}

.card2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.card2 ul li {
	display: inline-block;
	padding: 6px 12px;
	margin: 4px;
	border-radius: 8px;
	font-weight: bold;
	cursor: default;
	width: auto;
}

#d-container {
	text-align: center;
	overflow: hidden;
}



