@import url('../root/style.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
	background-color: var(--background-color);
	color: var(--text-color);
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left a img {
	width: 200px;
	height: 100px;
}

.center nav {
	display: flex;
	gap: 20px;
}

.center nav a {
	text-decoration: none;
	font-weight: 500;
	
}

.center nav a h1 {
	color: var(--text-color);
	font-size: x-large;
}

.center nav a:nth-child(1) h1 {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.center nav a:hover {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.right {
	margin-right: 8px;
}

.right nav,
.right nav .icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.right nav a img {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	background-color: white;
	border-radius: 10px;
	padding: 5px;
	width: 40px;
	height: 40px;
	
}

/*batao para mudar o tema do site*/
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.icons {
	img {
		background-color: white;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 25px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2.5px;
	background-color: black;
	border-radius: 50%;
	transition: 0.3s;
}

/* quando ativado */
input:checked + .slider {
	background-color: #999;
}

input:checked + .slider:before {
	transform: translateX(25px);
}

.News-moviment {
	width: 100%;
	background-color: white;
	border-top: solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	text-decoration: overline;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	font-weight: normal;
	font-weight: 500;
	font-size: 30px;
	text-shadow: 1px 2px 4px #9c9b9b;
	background-color: var(--background-color);
}

.News-moviment p {
  display: inline-block;
  padding-left: 100%;
  animation: correr 20s linear infinite;
  color: var(--text-color);
  background-color: var(--background-color);
}

@keyframes correr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

main {
	gap: 10px;
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.News {
	border-top:  solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	width: 50%;
	height: 1000px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	border-radius: 33px;
	flex-direction: column;
	gap: 10px;
	padding-top: 20px;
	flex-direction: column;

}

.img-news {
	border-radius: 35px;
}

.Container-1{
	width: 75%;
	display: flex;
	justify-content: space-between;
	height: 10%;

}
.Perfil {
	width: 250px;
	height: 10%;
	display: flex;
	gap: 20px;
	padding: 20px;
	align-items: center;
	font-weight: 200;
	background-color: var(--background-color);
}

.perfil-lucas {
	border-radius: 100%;
	width: 20%;
}

.Date {
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	font-weight: 300;
}

.text-news {
	display: flex;
	align-items: center;
	width: 80%;
	height: 100%;
	flex-direction: column;

	h1 {
		font-size: 55px;
	}
}

.alinha-titulo {
	width: 100%;
	align-items: center;
	justify-content: left;
}
.sub-news {
	border-top:  solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	border-radius: 33px;
	width: 30%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 19px;
	padding-bottom: 15px;
}

.block-1 {
	width: 80%;
	height: 15%;
	border: solid  1px var(--text-color);
	border-radius: 35px;
	display: flex;
	align-items: center;
	transition: transform 0.3s ease;
}


.block-1:hover {
	transform: scale(1.1);
}
.img-DLCs {
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.img-DLCs-1 {
	height: 100%;
	border-radius: 33px 0px 0px 33px;
	width: 100%;
}

.Titulo-DLCs {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 8px;
	flex-direction: column;
}

.block-blue {
	width: 80%;
	height: 5px;
	background-color: rgb(0, 255, 255);
}

footer {
	border-top: solid 1px rgb(0, 255, 255);
	width: 100%;
	height: 100px;
}


section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mom {
	width: 70%;
	height: 200px;
	background-color: black;
	border-radius: 25px;
	border: solid 3px rgb(255, 238, 0);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	font-style: italic;
	font-size: 25px;
	gap: 10px;
	padding: 40px;
	font-weight: 200;
	justify-content: space-between;

	.func {
		font-size: 35px;
		font-style: normal;
		font-weight: 100;
	}
}

.img-picachu {
	display: flex;
	align-items: center;
	justify-content:right;
	width: 50%;
}

.Conteudo-1 {
	width: 50%;
}


.block-2-blue {
	width: 90%;
	height: 100%;
	border-left: solid 5px rgb(2, 245, 245) ;
	border-right: solid 5px rgb(2, 245, 245) ;
	border-image:  linear-gradient(rgb(0, 255, 255), rgb(1, 130, 153)) 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.block-card-1 {
	background-color: black;
	width: 80%;
	height: 90%;
	border: solid 5px rgb(2, 245, 245) ;
	border-image:  linear-gradient(rgb(0, 255, 255), rgb(1, 130, 153)) 1;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}

.cards-lucas {
	width: 350px;
  	height: 150px;
  	background: #ffffff;
  	display: flex;
  	border-radius: 20px;
	align-items: center;
	gap: 20px;
	border: solid 4px rgb(6, 247, 255);
	padding: 20px;
	color: var(--background-color);
	color: black;

	img {
		width: 70px;
		height: 70px;
		border-radius: 10px;
	}

	h1 {
		font-size: 17px;
		font-weight: 400;
	}

	p {
		font-size: 10px;
		font-weight: 100;
	}
}

.desc {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
} 


@media screen and (max-width: 768px) {

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	nav {
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
	main {
		flex-direction: column;
		gap: 30px;
		height: 100%;
		width: 100%;
	}

	.Container-all {
		flex-direction: column;
		gap: 30px;
		height: 100%;
	}

	.News {
		width: 78%;
		text-align: center;
		gap: 30px;
		font-size: 12px;

		h1 {
			font-size: 37px;
		}
	}

	.text-news {
		height: 30%;
	}

	.Container-1 {
		height: 20%;
	}

	.sub-news {
		width: 70%;
		gap: 30px;
		padding: 20px;
		margin: 20px;
	}

	.Date {
		font-size: 10px;
		align-items: start;
		justify-content: center;
	}

	.Titulo-DLCs {
		font-size: 5px;
	}

	.cards-lucas {
		width: 100%;
		height: 30%;
		flex-direction: column;
	}

	.mom {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 70%;
		height: 40%;
		font-size: 10px;
		text-align: center;
		img {
			height: 70%;
			width: 70%;
		}

		p {
			font-size: 15px;
		}

		.func {
			width: 100%;
			font-size: 25px;
		}
	}

	.Conteudo-1{
		font-size: 7px;
	}

	.img-picachu {
		align-items: center;
		justify-content: center;
	}
}

