@import url('../root/style.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: var(--background-color);
	font-family: "Roboto Condensed", sans-serif;
	color: var(--text-color);
}

/*header*/
header {
	background-color: var(--background-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left a img {
	width: 200px;
	height: 100px;
	transition: 0.3s ease;
}
.left a img:hover {
	transform: scale(1.12);
	filter: brightness(1.2);
}

.center nav {
	display: flex;
	gap: 20px;
	overflow-x: auto;
}

.center nav a {
	text-decoration: none;
	transition: 0.3s ease;
}

.center nav a:hover{
	transform: translateY(-3px);
}

.center nav a h2 {
	color: var(--text-color);
}

.center nav a:nth-child(1) h2 {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.center nav a:nth-child(2) h2:hover,
.center nav a:nth-child(3) h2:hover,
.center nav a:nth-child(4) h2:hover,
.center nav a:nth-child(5) h2:hover {
	box-shadow: 0 6px 0 0 var(--barra-selecao);
}

.right {
	margin-right: 8px;
}

.right nav,
.right nav .icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.right nav a img {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	background-color: var(--card-background-color);
	border-radius: 10px;
	padding: 5px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.right nav a img:hover {
	transform: scale(1.1);
}

/*batao para mudar o tema do site*/
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 25px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2.5px;
	background-color: black;
	border-radius: 50%;
	transition: 0.3s;
}

/* quando ativado */
input:checked + .slider {
	background-color: #999;
}

input:checked + .slider:before {
	transform: translateX(25px);
}

.News-moviment {
	width: 100%;
	background-color: white;
	border-top: solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	text-decoration: overline;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	font-weight: normal;
	font-weight: 500;
	font-size: 30px;
	text-shadow: 1px 2px 4px #9c9b9b;
	background-color: var(--background-color);
}

.News-moviment p {
  display: inline-block;
  padding-left: 100%;
  animation: correr 20s linear infinite;
  color: var(--text-color);
  background-color: var(--background-color);
}

@keyframes correr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

main {
	gap: 10px;
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.News {
	border-top:  solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	width: 50%;
	height: 1000px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	border-radius: 33px;
	flex-direction: column;
	gap: 10px;
	padding-top: 20px;
	flex-direction: column;

}

.img-news {
	border-radius: 35px;
}

.Container-1{
	width: 75%;
	display: flex;
	justify-content: space-between;
	height: 10%;

}
.Perfil {
	width: 250px;
	height: 10%;
	display: flex;
	gap: 20px;
	padding: 20px;
	align-items: center;
	font-weight: 200;
	background-color: var(--background-color);
}

.perfil-lucas {
	border-radius: 100%;
	width: 20%;
}

.Date {
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	font-weight: 300;
}

.text-news {
	display: flex;
	align-items: center;
	width: 80%;
	height: 100%;
	flex-direction: column;

	h1 {
		font-size: 55px;
	}
}

.alinha-titulo {
	width: 100%;
	align-items: center;
	justify-content: left;
}
.sub-news {
	border-top:  solid 1px #3ed1d6;
	border-bottom: solid 1px #3ed1d6;
	border-radius: 33px;
	width: 30%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 19px;
	padding-bottom: 15px;
}

.block-1 {
	width: 80%;
	height: 15%;
	border: solid  1px var(--text-color);
	border-radius: 35px;
	display: flex;
	align-items: center;
	transition: transform 0.3s ease;
}


.block-1:hover {
	transform: scale(1.1);
}
.img-DLCs {
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.img-DLCs-1 {
	height: 100%;
	border-radius: 33px 0px 0px 33px;
	width: 100%;
}

.Titulo-DLCs {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 8px;
	flex-direction: column;
}


footer {
	border-top: solid 1px rgb(0, 255, 255);
	width: 100%;
	height: 100px;
}


section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mom {
	width: 70%;
	height: 200px;
	background-color: black;
	border-radius: 25px;
	border: solid 3px rgb(255, 238, 0);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	font-style: italic;
	font-size: 25px;
	gap: 10px;
	padding: 40px;
	font-weight: 200;
	justify-content: space-between;
	transition: transform 0.3s ease;

	.func {
		font-size: 35px;
		font-style: normal;
		font-weight: 100;
	}
}

.mom:hover {
	transform: scale(1.1);
}

.img-picachu {
	display: flex;
	align-items: center;
	justify-content:right;
	width: 50%;
}




@media screen and (max-width: 768px) {
	main {
		flex-direction: column;
		gap: 30px;
		height: 100%;
		width: 100%;
	}

	.Container-all {
		flex-direction: column;
		gap: 30px;
		height: 10%;
	}

	.News {
		width: 78%;
		text-align: center;
		gap: 30px;
		flex-direction: column;
		gap: 3px;

		font-size: 12px;

		h1 {
			font-size: 37px;
		}

		.img-news {
			width: 100%;
		}

		img {
			width: 50%;
		}
	}

	.text-news {
		height: 30%;
	}

	.Container-1 {
		height: 10%;
	}

	.sub-news {
		width: 100%;
		gap: 30px;
		padding: 20px;
		margin: 20px;
	}

	.Date {
		font-size: 10px;
		align-items: start;
		justify-content: center;
	}

	.Titulo-DLCs {
		font-size: 5px;
	}

	.mom {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 70%;
		height: 40%;
		font-size: 10px;
		text-align: center;
		img {
			height: 100%;
			width: 100%;
		}

		p {
			font-size: 15px;
		}

		.func {
			width: 100%;
			font-size: 25px;
		}
	}

	.Conteudo-1{
		font-size: 7px;
	}

	.img-picachu {
		align-items: center;
		justify-content: center;
	}

	.button-equipe {
		width: 20%;
		height: 50%;
	}
}

	.Music {
		background-image: url('../../imgs/icones/pokeball_743977.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 30px;
		width: 30px;
		border-radius: 100%;
		transition: transform 0.3s ease;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	}

	.Music:hover {
		transform: scale(1.1);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.577);
	}

	.button-equipe {
		width: 100%;
		height: 50%;
		border-radius: 30px;
		background-color: black;
		border: solid 2px #ebe721;
		color: #ffffff;
		transition: 1.5ms all;
	}

	.func {
		height: 100%;
	}

	.button-equipe:hover {
		transform: scale(1.1);
		border: solid 2px #08e0d6;
	}

/* header - media */
@media screen and (max-width: 800px) {
	.left a img {
		width: 100px;
		height: 50px;
	}

}


@media screen and (max-width: 700px) {
	.center nav a h2 {
		font-size: large;
	}
}


@media screen and (max-width: 550px) {
	.center {
		width: auto;
		overflow: hidden;
		margin-right: 3px;
		margin-left: 3px;
	}

	.center nav a:nth-child(1) h2 {
		box-shadow: none;
		color: var(--barra-selecao);
	}


	.center nav a:nth-child(2) h2:hover,
	.center nav a:nth-child(3) h2:hover,
	.center nav a:nth-child(4) h2:hover,
	.center nav a:nth-child(5) h2:hover {
		box-shadow: none;
		color: var(--barra-selecao);
	}

	.tag {
		padding: 4px 14px;
		background: var(--card-background-color);
		border-radius: 20px;
		white-space: nowrap;
		gap: 0px;
	}

	.right nav a img {
		padding: 3px;
		width: 30px;
		height: 30px;
	}

	.switch {
		width: 23px;
		height: 45px;
	}

	.slider:before {
		height: 17px;
		width: 17px;
		left: 3px;
		bottom: 3.2px;
	}

	input:checked + .slider:before {
		transform: translateY(-21px);
	}
}