@import url('../root/style.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
}

/*alterar as div/imgs/textos q o js criou com a API*/
.titulo-tipos {
	color: var(--text-color);
}

.grupo-tipo {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.card {
	width: 150px;
	padding: 10px;
	text-align: center;
	border: 1px solid var(--card-border-color);
	border-radius: 10px;
	background-color: var(--card-background-color);
	transition: box-shadow 0.4s ease, transform 0.4s;
	transform-style: preserve-3d;
	cursor: pointer;

	&:hover {
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
		transform: translateY(-10px) rotateX(6deg) rotateY(-8deg) scale(1.02);
		background-color: var(--card-background-hover);
	}

	h4 {
		text-align: left;
	}
}

.card h4,
.card h3 {
	cursor: default;
	color: var(--text-color);
	text-align: center;
}

.card img {
    width: 120px;
	transform: translateZ(20px) scale(1.1);	
    pointer-events: none;
}
