*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*modo claro*/
:root{
    --background-color: #f5f5f5;
    --text-color: #333333;
    --card-background-color: #ffffff;
    --card-border-color: #dddddd;
}

/*modo escuro*/
.dark-mode{
    --background-color: #1e1e1e;
    --text-color: #f5f5f5;
    --card-background-color: #2c2c2c;
    --card-border-color: #444444;
}