*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*modo claro*/
:root{
	--background-color: #f5f5f5;
	--text-color: #333333;
	--card-background-color: #ffffff;
	--card-border-color: #dddddd;
	--card-background-hover: #f2f2f2;
}

/*modo escuro*/
.dark-mode{
	--background-color: #1e1e1e;
	--text-color: #f5f5f5;
	--card-background-color: #2c2c2c;
	--card-border-color: #444444;
	--card-background-hover: #464646;
}

body {
	background-color: var(--background-color);
}

/*alterar as div/imgs/textos q o js criou com a API*/
.titulo-tipos {
	color: var(--text-color);
}

.grupo-tipo {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.card {
	width: 150px;
	padding: 10px;
	text-align: center;
	border: 1px solid var(--card-border-color);
	border-radius: 10px;
	background-color: var(--card-background-color);

	h3 {
		color: var(--text-color);
	}

	&:hover {
		background-color: var(--card-background-hover);
	}
}

.card img {
	width: 120px;
}

