@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*modo claro*/
:root{
	/* site */
	--background-color: #f5f5f5;
	--text-color: #333333;
	--card-background-color: #ffffff;
	--card-border-color: #dddddd;
	--card-background-hover: #f2f2f2;
	--barra-selecao: rgba(61, 216, 255, .8);
	
	/* pokemons */
	--type-color-white: #fff;
	--type-color-black: #212121;

	/* tipo planta */
	--grass-type-background: #9bcc50;

	/* tipo veneno */
	--poison-type-background: #b57fc9;

	/* tipo fogo */
	--fire-type-background: #fd7d24;

	/* tipo agua/gelo */
	--water-type-background: #4592c4;
	--ice-type-background: #4592c4;

	/* tipo pedra */
	--rock-type-background: #ab9842;

	/* tipo chao */
	--ground-type-background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);

	/* tipo voador */
	--flying-type-background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);

	/* tipo praga */
	--bug-type-background: #729f3f;

	/* tipo eletrico */
	--electric-type-background: #eed535;

	/* tipo psiquico */
	--psychic-type-background: #f366b9;

	/* tipo fada */
	--fairy-type-background: #fdb9e9;

	/* tipo dragao */
	--dragon-type-background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);

	/* tipo aco */
	--steel-type-background: #9eb7b8;

	/* tipo fantasma */
	--ghost-type-background: #7b62a3;

	/* tipo normal */
	--normal-type-background: #a4acaf;

	/* tipo lutador */
	--fighting-type-background: #d56723;
}

/*modo escuro*/
.darkmode{

	/* site */
	--background-color: #1e1e1e;
	--text-color: #f5f5f5;
	--card-background-color: #2c2c2c;
	--card-border-color: #444444;
	--card-background-hover: #464646;
	--barra-selecao: rgba(61, 216, 255, .8);

	/* pokemons */
	--type-color-white: #fff;
	--type-color-black: #212121;

	/* tipo planta */
	--grass-type-background: #9bcc50;

	/* tipo veneno */
	--poison-type-background: #b57fc9;

	/* tipo fogo */
	--fire-type-background: #fd7d24;

	/* tipo agua/gelo */
	--water-type-background: #4592c4;
	--ice-type-background: #4592c4;

	/* tipo pedra */
	--rock-type-background: #ab9842;

	/* tipo chao */
	--ground-type-background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);

	/* tipo voador */
	--flying-type-background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);

	/* tipo praga */
	--bug-type-background: #729f3f;

	/* tipo eletrico */
	--electric-type-background: #eed535;

	/* tipo psiquico */
	--psychic-type-background: #f366b9;

	/* tipo fada */
	--fairy-type-background: #fdb9e9;

	/* tipo dragao */
	--dragon-type-background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);

	/* tipo aco */
	--steel-type-background: #9eb7b8;

	/* tipo fantasma */
	--ghost-type-background: #7b62a3;

	/* tipo normal */
	--normal-type-background: #a4acaf;

	/* tipo lutador */
	--fighting-type-background: #d56723;
}

/*importe com "@import url('o caminho')" dentro dos outros arquivos css*/
/* usa "font-family: "Roboto Condensed", sans-serif;" no body */
