@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*modo claro*/
:root{
	--background-color: #f5f5f5;
	--text-color: #333333;
	--card-background-color: #ffffff;
	--card-border-color: #dddddd;
	--card-background-hover: #f2f2f2;
	--barra-selecao: rgba(61, 216, 255, .8);
}

/*modo escuro*/
.darkmode{
	--background-color: #1e1e1e;
	--text-color: #f5f5f5;
	--card-background-color: #2c2c2c;
	--card-border-color: #444444;
	--card-background-hover: #464646;
	--barra-selecao: rgba(61, 216, 255, .8);
}

/*importe com "@import url('o caminho')" dentro dos outros arquivos css*/
/* usa "font-family: "Roboto Condensed", sans-serif;" no body */
